*{
    box-sizing: border-box;
    margin: 0;
    flex-wrap: wrap;
}

:root{
    --logo-font: "Pacifico", "cursive";
    --nav-text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #ffe4e1;
}

.main-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 249, 250);

}


.logo h1{
    font-family: var(--logo-font);
    margin: 0;
}


.nav-text{
    font-size: 22px;
    font-family: var(--nav-text-font);
    font-weight: 650;
    
}
.nav-text ul{
    display: flex;
    gap: 69px;
    
}
.nav-text li{
    list-style: none;
    
}
.nav-text a{
    color: black;
    text-decoration: none;
    
}


.nav-icon{
    text-decoration: none;
    
}
.nav-icon ul{
    display: flex;
    gap: 40px;
    
}
.nav-icon li{
    list-style: none;

}


.main-body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.body-text{
    margin-top: 70px;

}
.body-text h1{
    font-size: 27px;
    font-weight: 700;
    margin-top: 180px;
}
.first-btn{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    width: 85px;
    height: 36px;
    background-color: aliceblue;
    color: black;
    border: 0;
    border-radius: 8px;
}

.main-imges{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 70px;
    margin-right: 95px;
    margin-top: 40px;
}
.img1{
    /* display: flex; */
    clip-path: ellipse(29.4% 44.22% at 42.2% 54.67%);
    background-color: blue;
    width: 250px;
    height: 450px;
}
.img2{
    /* display: flex; */
    clip-path: circle(53.45% at 0px 55.42%);
    background-color: brown;
    width: 200px;
    height: 350px;
}
.img3{
    /* display: flex; */
    clip-path: ellipse(44.5% 100% at 52.02% -6.21%);
    background-color: brown;
    width: 200px;
    height: 370px;
}
















